*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    margin: 0;
    padding: 0;
    background-image: url("./images/img1.PNG");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.startpage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #211C1C;
}
.startpage h1{
    margin-bottom: 0;
    font-size: 3rem;
    font-weight: 700;
}
.startpage p{
    font-size: 1.5rem;
    font-weight: 450;
}
.start-button{
    padding: 0.7rem 1.2rem;
    border: none;
    outline: none;
    border-radius: 0.5rem;
    background-color: #211C1C;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}

.questions{
    padding: 1rem 6rem;
}
.questions h1{
    text-align: center;
}
.questions ol{
    letter-spacing: 1px;
    list-style: none;
}
.answers{
    display: flex;
    gap: 2rem;
}
.answers > div {
    border: 1px solid #211C1C;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-weight: 400;
    cursor: pointer;
}
.answers > div:hover{
    background-color: #211C1C; /*#5C95F, #F31616*/
    color: #fff;
    transition: all 0.3s ease-in-out;
}
.won-button{
    padding: 0.7rem 1.2rem;
    border: none;
    outline: none;
    border-radius: 0.5rem;
    background-color: #211C1C;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}
.play-button{
    padding: 0.7rem 1.2rem;
    border: none;
    outline: none;
    border-radius: 0.5rem;
    background-color: #918f8f;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    cursor: not-allowed;
    display: block;
    margin: 0 auto;
}
@media (max-width: 767px){
    .startpage h1{
        font-size: 2rem;
    }
    .startpage p{
        font-size: 1rem;
    }
    .startpage button{
        font-size: 0.8rem;
    }
    .questions{
        padding: 1rem 2rem;
        width: 100%;
    }
    .answers{
        flex-direction: column; /**/
        gap: 1rem;
    }
}